{%extends 'base.html'%}

{% block content %}
<!-- OVERVIEW -->
<section>
    <div class="content row padding-bottom-3 desktop-12 container">
        <h1>Adicionar Equipamento</h1>
        <div class="desktop-6">
            {% if messages %}
                {% for message in messages %}
                    <div class = "alert sucess">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
            <form action="." novalidate method="post">
                {% csrf_token %}
                {{ form }}
                <p class="btn-row"><input type="submit" value="Adicionar"/></p>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
